<body>
    <h1>Aircraft</h1> 
    <nav>
        <a href= "./index">Home</a>
        <a href= "./aircraft">Aircraft</a>
        <a href="./carriers">Carriers</a>
        <a href="./passengers">Passengers</a>
        <a href="./flights">Flights</a>
        <a href="./passengersOnFlights">PassengersOnFlights</a>

    </nav>

    {{!-- Created aircraft table --}}
     
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <div id='addAircraftDiv' style='display:none'>
    <form id='addAircraftForm' action='/addAircraftForm' method='POST'>
        <br>Carrier:<select name="carrierInput" id="carrierInput" required=''>
        <option value="">Select a Carrier</option>
        {{#each carriershbs}}
        <option value="{{this.idCarrier}}">{{this.carrierName}}</option>
        {{/each}}
        </select><br>

        <label for="aircraftNumberInput">Aircraft Number</label><br>
        <input type="text" id="aircraftNumberInput" name="aircraftNumberInput"><br>
        <label for="aircraftTypeInput">Type Aircraft</label><br>
        <input type="text" id="aircraftTypeInput" name="aircraftTypeInput"><br>
        <label for="operatingHoursInput">Operating Hours</label><br>
        <input type="text" id="operatingHoursInput" name="operatingHoursInput"><br>
        <label for="capacityInput">Capacity</label><br>
        <input type="text" id="capacityInput" name="capacityInput"><br>
        <label for="manufacturerInput">Manufacturer</label><br>
        <input type="text" id="manufacturerInput" name="manufacturerInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>

    <table id="aircraft-table">

        {{!-- Header section --}}
        <thead>

            
            <tr>
                {{#each data.[1]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addAircraftDiv').style.display='block'">Add</button></th>
            </tr>
        </thead>

        {{!-- Body section --}}
       
        <tbody>

            {{#each data}}
            <tr data-value={{this.aircraftNumber}}>
                <td>{{this.aircraftNumber}}</td>
                <td>{{this.aircraftType}}</td>
                <td>{{this.aircraftOperatingHours}}</td>
                <td>{{this.aircraftCapacity}}</td>
                <td>{{this.aircraftManufacturer}}</td>
                <td>{{this.idCarrier}}</td>
                <td><button onClick= "fillForm('{{this.aircraftNumber}}', '{{this.aircraftType}}', '{{this.aircraftOperatingHours}}','{{this.aircraftCapacity}}', '{{this.aircraftManufacturer}}','{{this.idCarrier}}')">Edit</button></td>
                <td><button onclick="deleteAircraft('{{this.aircraftNumber}}')">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
    <script src="./js/delete_aircraft.js"></script>
    


    

    {{!-- script and div for update form Source: https://stackoverflow.com/questions/59703565/fill-a-fields-in-forms-with-button-onclick --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function fillForm(aircraftNumberUpdate, aircraftTypeUpdate,operatingHoursUpdate, capacityUpdate, manufacturerUpdate, idCarrierUpdate)
        {
        document.getElementById("updateAircraftDiv").style = "display:block";
        document.getElementById("aircraftNumberUpdate").value = aircraftNumberUpdate;
        document.getElementById("aircraftTypeUpdate").value = aircraftTypeUpdate;
        document.getElementById("operatingHoursUpdate").value = operatingHoursUpdate;
        document.getElementById("capacityUpdate").value = capacityUpdate;
        document.getElementById("manufacturerUpdate").value = manufacturerUpdate;
        document.getElementById("idCarrierUpdate").value = idCarrierUpdate;
        
        };
    </script>
    <script>
        function hideDiv(){
            document.getElementById("updateAircraftDiv").style = "display:none";
        }
    </script>

    <div id='updateAircraftDiv' style="display:none">
    <br>
    <legend>Update Aircraft</legend>
    <br>
    <form id="update-aircraft-form-ajax">
        <label for="aircraftNumberUpdate">Aircraft Number</label><br>
        <input type="text" id="aircraftNumberUpdate" name="aircraftNumberUpdate" value=""><br>
        <label for="aircraftTypeUpdate">Type Aircraft</label><br>
        <input type="text" id="aircraftTypeUpdate" name="aircraftTypeUpdate" value=""><br>
        <label for="operatingHoursUpdate">Operating Hours</label><br>
        <input type="text" id="operatingHoursUpdate" name="operatingHoursUpdate" value=""><br>
        <label for="capacityUpdate">Capacity</label><br>
        <input type="text" id="capacityUpdate" name="capacityUpdate" value=""><br>
        <label for="manufacturerUpdate">Manufacturer</label><br>
        <input type="text" id="manufacturerUpdate" name="manufacturerUpdate" value=""><br>
        Carrier:
        <select name="idCarrierUpdate" id="idCarrierUpdate">
        
        <option disabled selected hidden value="{{idCarrierUpdate}}">{{carrierNameUpdate}}</option>
        {{#each carriershbs}}
        <option value="{{this.idCarrier}}">{{this.carrierName}}</option>
        {{/each}}
        </select><br>
        
        <button type="submit" value="Submit" onClick= hideDiv()>Submit</button>
        
        </form>
    </div>
    <script src="./js/update_aircraft.js"></script>

</body>