<body>
    <h1>Carriers</h1> 
    <nav>
        <a href= "./index">Home</a>
        <a href= "./aircraft">Aircraft</a>
        <a href="./carriers">Carriers</a>
        <a href="./passengers">Passengers</a>
        <a href="./flights">Flights</a>
        <a href="./passengersOnFlights">PassengersOnFlights</a>

    </nav>



{{!-- Created aircraft table --}}
    <table id="carriers-table">

        {{!-- Header section --}}
        <thead>

            
            <tr>
                {{#each data.[1]}}
                
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addCarrierDiv').style.display='block'">Add</button></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.idCarrier}}>
                <td>{{this.idCarrier}}</td>
                <td>{{this.carrierName}}</td>
                <td>{{this.carrierCountry}}</td>
                <td>{{this.carrierFleet}}</td>
                <td><a href='#' name='editCarriers'>Edit</a></td>
                <td><button onclick="deleteCarriers({{this.idPassenger}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>


    <div id='addCarrierDiv' style='display:none'>
    <form id='addCarrierForm' action='/addCarrierForm' method='POST'>
        <label for="carrierNameInput">Carrier Name</label><br>
        <input type="text" id="carrierNameInput" name="carrierNameInput"><br>
        <label for="carrierCountryInput">Carrier Country</label><br>
        <input type="text" id="carrierCountryInput" name="carrierCountryInput"><br>
        <label for="carrierFleetInput">Carrier Fleet</label><br>
        <input type="number" id="carrierFleetInput" name="carrierFleetInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>