<body>

    



{{!-- Created aircraft table --}}
    <table id="carrier-table">
        {{!-- Header section --}}
        <thead>
            <tr>
                <th>Carrier ID</th>
                <th>Carrier Name</th>
                <th>Country</th>
                <th>Fleet Total</th>
                <th><button onclick= "document.getElementById('addCarrierDiv').style.display='block'">Add</button></th>
                <th></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>
            <h2>Carriers</h2> 
            {{#each data}}
            <tr data-value={{this.idCarrier}}>
                <td>{{this.idCarrier}}</td>
                <td>{{this.carrierName}}</td>
                <td>{{this.carrierCountry}}</td>
                <td>{{this.carrierFleet}}</td>
                <td><button onClick= "fillForm('{{this.idCarrier}}', '{{this.carrierName}}', '{{this.carrierCountry}}','{{this.carrierFleet}}')">Edit</button></td>
                <td><button onclick="deleteConfirm({{this.idCarrier}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>

    {{!-- confirm delete function
    sourced from https://www.geeksforgeeks.org/javascript-window-confirm-method/ --}}
    <script>
        function deleteConfirm(carrier) {
            var result = confirm('Are you sure you want to delete Carrier ID '+ carrier +'? This will delete all aircraft associated with this carrier.');
            if (result == true) {
                deleteCarrier(carrier);
            } else {
                window.location.reload();
            } 
        }
    </script>
    <script src="./js/delete_carrier.js"></script>

    {{!-- Add Form --}}
    <div id='addCarrierDiv' style='display:none'>
    <legend>Add Carrier</legend>
    <form id='addCarrierForm' action='/addCarrierForm' method='POST'>
        <label for="carrierNameInput">Carrier Name</label>
        <input type="text" id="carrierNameInput" name="carrierNameInput" required>
        <label for="carrierCountryInput">Carrier Country</label>
        <input type="text" id="carrierCountryInput" name="carrierCountryInput">
        <label for="carrierFleetInput">Carrier Fleet</label>
        <input type="number" min="0" id="carrierFleetInput" name="carrierFleetInput">
        <br>
        <button type="submit" value="Submit" onclick="setNull('carrierCountryInput')">Submit</button>
        <button type="reset" onClick= hideAddDiv()>Cancel</button>
    </form>
    </div>

    {{!-- Sets value null if empty --}}
    <script>
    function setNull(countryValue){
        if (document.getElementById('carrierCountryInput').value.length === 0){
            document.getElementById('carrierCountryInput').value = "NULL"
        }
    }
    </script>

    {{!-- for cancel button --}}
    <script>
        function hideAddDiv(){
            document.getElementById("addCarrierDiv").style = "display:none";
        }
    </script>


    {{!-- update form --}}
    {{!-- script and div for update form Source: https://stackoverflow.com/questions/59703565/fill-a-fields-in-forms-with-button-onclick --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function fillForm(idCarrierUpdate, carrierNameUpdate, carrierCountryUpdate, carrierFleetUpdate)
        {
        document.getElementById("updateCarrierDiv").style = "display:block";
        document.getElementById("idCarrierUpdate").value = idCarrierUpdate;
        document.getElementById("carrierNameUpdate").value = carrierNameUpdate;
        document.getElementById("carrierCountryUpdate").value = carrierCountryUpdate;
        document.getElementById("carrierFleetUpdate").value = carrierFleetUpdate;
        };
    </script>

    {{!-- Hide Div --}}
    <script>
        function hideDiv(){
            document.getElementById("updateCarrierDiv").style = "display:none";
        }
    </script>


    {{!-- Update Form --}}
    <div id='updateCarrierDiv' style="display:none">
    <legend>Update Carrier</legend>
    <form id="update-carrier-form-ajax">
        <label for="idCarrierUpdate">Carrier ID</label>
        <input disabled type="text" id="idCarrierUpdate" name="idCarrierUpdate" value="">
        <label for="carrierNameUpdate">Carrier Name</label>
        <input type="text" id="carrierNameUpdate" name="carrierNameUpdate" value="">
        <label for="carrierCountryUpdate">Carrier Country</label>
        <input type="text" id="carrierCountryUpdate" name="carrierCountryUpdate" value="">
        <label for="carrierFleetUpdate">Carrier Fleet</label>
        <input type="number" min="0" id="carrierFleetUpdate" name="carrierFleetUpdate" value="">
        <br>
        <button type="submit" value="Submit" onClick='hideDiv()'>Submit</button>
        <button type='reset' onClick=hideDiv()>Cancel</button>
        
        </form>
    </div>
    <script src="./js/update_carrier.js"></script>
</body>