<body>
    <h1>Flights</h1> 
    <nav>
        <a href= "./index">Home</a>
        <a href= "./aircraft">Aircraft</a>
        <a href="./carriers">Carriers</a>
        <a href="./passengers">Passengers</a>
        <a href="./flights">Flights</a>
        <a href="./passengersOnFlights">PassengersOnFlights</a>

    </nav>

    
{{!-- Created aircraft table --}}
    <table id="flights-table">

        {{!-- Header section --}}
        <thead>

            
            <tr>
                {{#each data.[1]}}
                
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addFlightsDiv').style.display='block'">Add</button></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.flightNumber}}>
                <td>{{this.flightNumber}}</td>
                <td>{{this.arrivalTime}}</td>
                <td>{{this.departureTime}}</td>
                <td>{{this.totalPassengers}}</td>
                <td>{{this.aircraftNumber}}</td>
                <td><a href='#' name='editFlights'>Edit</a></td>
                <td><button onclick="deleteFlights({{this.flightNumber}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>


    <div id='addFlightsDiv' style='display:none'>
    <form id='addFlightsForm' action='/addFlightsForm' method='POST'>
        Carrier: <select name="subject" id="subject">
            <option value="" selected="selected">Select Carrier</option>
          </select>
          <br>
        Aircraft: <select name="aircraftInput" id="aircraftInput">
        <option value="aircraftInput" selected="aircraftInput">Select Aircraft</option>
        </select>
        <br>
        <label for="flightNumberInput">Flight Number</label><br>
        <input type="text" id="flightNumberInput" name="flightNumberInput"><br>
        <label for="arrivalTimeInput">Arrival Time</label><br>
        <input type="datetime-local" id="arrivalTimeInput" name="arrivalTimeInput"><br>
        <label for="departureTimeInput">Departure Time</label><br>
        <input type="datetime-local" id="departureTimeInput" name="departureTimeInput"><br>
        <label for="totalPassengersInput">Departure Time</label><br>
        <input type="number" id="totalPassengersInput" name="totalPassengersInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>