<body>
 
    

    
{{!-- Created aircraft table --}}
    <table id="flights-table">
        <h2>Flights</h2> 
        {{!-- Header section --}}
        <thead>

            
            <tr>
                <th>Flight Number</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Total Passengers</th>
                <th>Aircraft Number</th>
                <th><button onclick= "document.getElementById('addFlightsDiv').style.display='block'">Add</button></th>
                <th></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.flightNumber}}>
                <td>{{this.flightNumber}}</td>
                <td>{{this.arrivalTime}}</td>
                <td>{{this.departureTime}}</td>
                <td>{{this.totalPassengers}}</td>
                <td>{{this.aircraftNumber}}</td>
                <td><a href='#' name='editFlights'>Edit</a></td>
                <td><button onclick="deleteFlights({{this.flightNumber}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>

    {{!-- Add Form --}}
    <div id='addFlightsDiv' style='display:none'>
    <legend>Add Flight</legend>
    <form id='addFlightsForm' action='/addFlightsForm' method='POST'>
        Carrier: 
        <select name="idCarrierInput" id="idCarrierInput" onChange="getOption()">
        <option value="" selected disabled>Select a Carrier</option>
        {{#each carrierFlights}}
        <option value="{{this.idCarrier}}" >{{this.carrierName}}</option>
        {{/each}}
        </select><br>
        
        <div id="moreFormDiv" style='display:none'>
        Aircraft: 
        <select name="aircraftInput" id="aircraftInput">
        </select>
        <br>
        <label for="flightNumberInput">Flight Number</label><br>
        <input required type="text" id="flightNumberInput" name="flightNumberInput"><br>
        <label for="arrivalTimeInput">Arrival Time</label><br>
        <input required type="datetime-local" id="arrivalTimeInput" name="arrivalTimeInput"><br>
        <label for="departureTimeInput">Departure Time</label><br>
        <input required type="datetime-local" id="departureTimeInput" name="departureTimeInput"><br>
        <label for="totalPassengersInput">Total Passengers</label><br>
        <input type="number" min='0' id="totalPassengersInput" name="totalPassengersInput"><br>
        <input id="button" type="submit" value="Submit">
    </form>
    </div>
    </div>

    {{!-- Dynamically Updates aircraft dropdown --}}
    <script type="text/javascript">
        function getOption() {
            // gets carrier selected input
            var idInput = document.getElementById("idCarrierInput").value;
            var idCarrierArray = []
            var aircraftNums = []

            // makes array of all aircraft
            {{#each aircraft}}
                    idCarrierArray.push({{idCarrier}})
                    aircraftNums.push("{{aircraftNumber}}")
            {{/each}}

            //selects aircraft that match idInput
            var results = [];
                for ( i=0; i < idCarrierArray.length; i++ ){
                    if ( idCarrierArray[i] == idInput ){
                        results.push(aircraftNums[i]);
                    }
                }

            // removes all previous aircraft options
            // sourced from https://stackoverflow.com/questions/3364493/how-do-i-clear-all-options-in-a-dropdown-box

            function removeOptions(selectElement) {
                var i, L = selectElement.options.length - 1;
                for(i = L; i >= 0; i--) {
                    selectElement.remove(i);
                }}

                removeOptions(document.getElementById('aircraftInput'));
            
            // adds aircraft option for each aircraft associated with carrier
            // sourced from https://stackoverflow.com/questions/9895082/javascript-populate-drop-down-list-with-array
            var aircraftSelect = document.getElementById("aircraftInput");
            if (results.length > 0){
            for ( i=0; i < results.length; i++ ){    
                var aircrafts = results[i];
                var element = document.createElement("option");
                element.textContent = aircrafts;
                element.value = aircrafts;
                aircraftSelect.appendChild(element);
                
            }}
            // otherwise no aircraft option
            else{
            var aircraftSelect = document.getElementById("aircraftInput");
            var element = document.createElement("option");
            element.textContent = "No aircraft associated with selected carrier. Please try another carrier";
            element.value = "Null";
            aircraftSelect.appendChild(element);
            }

            document.getElementById("moreFormDiv").style = "display:block";
        }
    </script>

</body>