<body>
    <h1>Passengers</h1> 
    <nav>
        <a href= "./index">Home</a>
        <a href= "./aircraft">Aircraft</a>
        <a href="./carriers">Carriers</a>
        <a href="./passengers">Passengers</a>
        <a href="./flights">Flights</a>
        <a href="./passengersOnFlights">PassengersOnFlights</a>

    </nav>



{{!-- Created aircraft table --}}
    <table id="passengers-table">

        {{!-- Header section --}}
        <thead>

            
            <tr>
                {{#each data.[1]}}
                
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addPassengerDiv').style.display='block'">Add</button></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.idPassenger}}>
                <td>{{this.idPassenger}}</td>
                <td>{{this.name}}</td>
                <td>{{this.isNoFlightList}}</td>
                <td><a href='#' name='editPassengers'>Edit</a></td>
                <td><button onclick="deletePassengers({{this.idPassenger}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>


    <div id='addPassengerDiv' style='display:none'>
    <form id='addPassengerForm' action='/addPassengerForm' method='POST'>
        <label for="nameInput">Passenger Name</label><br>
        <input type="text" id="nameInput" name="nameInput"><br>
        <label for="isNoFlightListInput">No Fly List</label><br>
        <input type="number" id="isNoFlightListInput" name="isNoFlightListInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>