<body>
     
    



{{!-- Created aircraft table --}}
    <table id="passengers-table">
        <h2>Passengers</h2>
        {{!-- Header section --}}
        <thead>

            
            <tr>
                {{#each data.[1]}}
                
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addPassengerDiv').style.display='block'">Add</button></th>
                <th></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.idPassenger}}>
                <td>{{this.idPassenger}}</td>
                <td>{{this.name}}</td>
                <td>{{this.isNoFlightlist}}</td>
                <td><a href='#' name='editPassengers'>Edit</a></td>
                <td><button onclick="deletePassengers({{this.idPassenger}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
    <script src='./js/delete_passengers.js'></script>


    <div id='addPassengerDiv' style='display:none'>
    <form id='addPassengerForm' action='/addPassengerForm' method='POST'>
        <label for="nameInput">Passenger Name</label><br>
        <input type="text" id="nameInput" name="nameInput"><br>
        <label for="isNoFlightListInput">No Fly List</label><br>
        <input type="text" id="isNoFlightListInput" name="isNoFlightListInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>