<body>

{{!-- Created aircraft table --}}
    <table id="passengers-table">
        <h2>Passengers</h2>
        {{!-- Header section --}}
        <thead>
            
            <tr>
                {{#each data.[1]}}
                
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th><button onclick= "document.getElementById('addPassengerDiv').style.display='block'">Add</button></th>
                <th></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr data-value={{this.idPassenger}}>
                <td>{{this.idPassenger}}</td>
                <td>{{this.name}}</td>
                <td>{{this.isNoFlightlist}}</td>
                <td><button onClick= "fillForm('{{this.idPassenger}}', '{{this.passengerName}}', '{{this.isNoFlightList}}')">Edit</button></td>
                <td><button onclick="deletePassengers({{this.idPassenger}})">Delete</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
    <script src='./js/delete_passengers.js'></script>


    <div id='addPassengerDiv' style='display:none'>
    <form id='addPassengerForm' action='/addPassengerForm' method='POST'>
        <label for="nameInput">Passenger Name</label><br>
        <input type="text" id="nameInput" name="nameInput"><br>
        <label for="isNoFlightListInput">No Fly List</label><br>
        <input type="text" id="isNoFlightListInput" name="isNoFlightListInput"><br>
        <input type="submit" value="Submit">
    </form>
    </div>

    {{!-- script and div for update form Source: https://stackoverflow.com/questions/59703565/fill-a-fields-in-forms-with-button-onclick --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function fillForm(idPassengerUpdate, passengerNameUpdate, isNoFlightListUpdate)
        {
        document.getElementById("updatePassengerDiv").style = "display:block";
        document.getElementById("idPassengerUpdate").value = idPassengerUpdate;
        document.getElementById("passengerNameUpdate").value = passengerNameUpdate;
        document.getElementById("isNoFlightListUpdate").value = isNoFlightListUpdate;
        };
    </script>
    
    <script>
        function hideDiv(){
            document.getElementById("updatePassengerDiv").style = "display:none";
        }
    </script>

    <div id='updatePassengerDiv' style="display:none">
    <br>
    <legend>Update Passenger</legend>
    <form id="update-passenger-form-ajax">
        <label for="idPassengerUpdate">idPassenger</label>
        <input disabled type="text" id="idPassengerUpdate" name="idPassengerUpdate" value=""><br>
        <label for="passengerNameUpdate">Passenger Name</label><br>
        <input type="text" id="passengerNameUpdate" name="passengerNameUpdate" value=""><br>
        <label for="isNoFlightListUpdate"> isNoFlightList</label><br>
        <input type="text" id="isNoFlightListUpdate" name="isNoFlightListUpdate" value=""><br>
        
        <button type="submit" value="Submit" onClick= hideDiv()>Submit</button>
        
        </form>
    </div>
    <script src="./js/update_passengers.js"></script>

</body>